{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between mb-5">
    <h2>Modifier un Acteur</h2>
    <div>
         <a onClick="return confirm('Confirmez la suppression');" href="{{ path('person_delete', {'id': person.id}) }}" class="btn btn-danger">Supprimer</a>
    </div>
</div>

{{ form_start(personForm) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(personForm.firstName) }}
            {{ form_row(personForm.lastName) }}
            {{ form_row(personForm.birthDate) }}
            {{ form_row(personForm.gender) }}
        </div>
    </div>
    <input type="submit" value="Modifier" class="btn btn-primary">
{{ form_end(personForm) }} 

{% endblock %}